/* You can add global styles to this file, and also import other style files */

html, body {
  background: #161215 !important;
  color: #eedee7 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --mat-sys-on-surface-variant: #eedee7;
}
